html, body{
    margin:0;
    padding: 0;
}
div.contenido{
    background-color: #373B47;
    display: flex;
    float: center;
    align-content: flex-start;
    justify-content: space-around;
    text-align: center;
    
}
div.start{
    font-family: 'montserrat';
    font-weight: 600;
    font-size: 30%;
}
div.menu{
    float: right;;
    align-content: flex-end;
    justify-content: space-around;
    text-align: center;
}
div.caixa{
    background-color: #18bc9c;
    font-family: 'lato';    
}
section.porfolio{
    background-color: #fff;
    font-family: 'montserrat';
}

#img{
    float: center;
    display: flex;
    position: absolute;
    top: 30%;
    left: 35%;
    margin-top: 15px;
    margin-left:70px;
}
a {
    text-decoration: none;
    display: inline;
    color: #fff
}
a:hover{
    color: #18bc9c;
}
.content{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-content: center;
    align-items: stretch;
    
}
div.local{
    background-color: #212529;
    font-family: 'Montserrat';
    font-weight: 600;
    color: white; 

}
div.logotipo{
    background-color: #212529;
    font-family: 'Montserrat';
    font-weight: 600;
    color: white; 
}
div.freelancer{
    background-color: #212529;
    font-family: 'Montserrat';
    font-weight: 600;
    color: white;
    float: center;
}

div.copyright {
    background-color: #373B47;
    display: flex;
    justify-content: center;
    color: white;
    padding: 8px 0px;
    font-family: "Lato";
      }

